{% include "header.html" %}

<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg') }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"><div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading"><h1>Contact</h1><span class="subheading">Let's connect.</span></div>
    </div></div>
  </div>
</header>

<div class="container">
  <div class="row"><div class="col-lg-8 col-md-10 mx-auto text-center">
    {% if contact_email %}
      <p>Email me at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
    {% else %}
      <p>Use the project's GitHub issue tracker to get in touch.</p>
    {% endif %}
  </div></div>
</div>

{% include "footer.html" %}
