{% include "header.html" %}
{% from "_forms.html" import render_form %}

<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg') }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"><div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>{{ "Edit Post" if is_edit else "New Post" }}</h1>
        <span class="subheading">Share something worth reading.</span>
      </div>
    </div></div>
  </div>
</header>

<div class="container">
  <div class="row"><div class="col-lg-8 col-md-10 mx-auto">
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
    {{ render_form(form) }}
  </div></div>
</div>

{% include "footer.html" %}
