{% include "header.html" %}
{% from "_forms.html" import render_form %}

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?auto=format&fit=crop&w=800&q=80')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row"><div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading"><h1>Register</h1><span class="subheading">Join the conversation.</span></div>
    </div></div>
  </div>
</header>

<div class="container">
  <div class="row"><div class="col-lg-8 col-md-10 mx-auto">
    {{ render_form(form) }}
  </div></div>
</div>

{% include "footer.html" %}
